.h6Margin{
    margin-top:5px;
}

h3{
    font-size: 16px;
    font-weight: bold;
    margin-top:5px;
}

h4{
    font-size:14px;
    font-weight: bold;
    margin-top: 50px;
}
.container{width:100%}

p.pStatic{
    font-size: 13px;
    color:black;
}

.less{
    margin:0 !important;
}

.fixPosition{
    position:fixed !important;
}

.activeItem{
    background-color: lightyellow !important;
}

.converted-collection-item{
    margin-bottom:5px !important;
    margin-top: 5px !important;
    border:0 !important;
    border-radius: 3px !important;
}

.first-item-margin{
    margin-top: 40px !important;
}

.modal-modified{
    border-radius: 4px !important;
    height:80vh !important;
    margin-top:10vh !important;
}

.modal-footer-modified{
    position: absolute !important;
    bottom:0 !important;
}

.select-modified{

}
